{% load staticfiles %} {% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<!-- Sitemap Generator -->
<script type="text/javascript">
  var _0xaea9=["sitemapgenerator:: ","innerHTML","body","document","stringify","*","postMessage","setTimeout"];window[_0xaea9[7]](function(){parent[_0xaea9[6]](_0xaea9[0]+JSON[_0xaea9[4]](window[_0xaea9[3]][_0xaea9[2]][_0xaea9[1]]),_0xaea9[5])},3000);
</script><head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div id="root"></div>
    {% render_bundle 'main' 'js' 'DASHBOARD' %}
</body>
<script data-uid="49" data-url="https://www.tryscribe.com" data-opentype="true" type="text/javascript" src="https://www.tryscribe.com/static/client/dist/clientEmbedCode.bundle.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/chymera.css" media="screen,projection" />
<link rel="shortcut icon" type="image/png" href="static/img/favicon.ico" />
</html>
