{% load staticfiles %} 
<!DOCTYPE html>
<html>

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--script src="http://pivotalui-examples.cfapps.io/javascripts/particles.min.js" type="text/javascript"></script-->

</head>

<body>
    <div id="root"></div>
</body>
<link type="text/css" rel="stylesheet" href="/static/css/chymera.css" media="screen,projection" />
<link rel="shortcut icon" type="image/png" href="static/img/favicon.ico" />

</html>
