@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');


.Site {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  overflow-x: hidden;
}

.Site-content {
  flex: 1;
}

.DateRangePicker__picker, .SingleDatePicker__picker {
    bottom: 72px !important;
    top: auto !important;
}

.ui.form input[type="file"] {
    display: none;
}


.ui.menu  {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important
}


.ui.orange.button {
    color: #555 !important;
}

.greyGradientBackground {
  /* fallback */
  background-color: #fff;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fff, #f3f3f3);

  /* IE 10 */
  background: -ms-linear-gradient(top, #fff, #f3f3f3);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fff, #f3f3f3);
}


.centerText {
    text-align: center
}

h1 {
    font-size: calc( 54rem/16 ) !important;       
}

h2 {
    font-size: calc( 30rem/16 ) !important;       
}

h3 {
    font-size: calc( 24rem/16 ) !important;       
}

p {
    font-size: calc( 16em/16) !important;
}

.caption {
    font-size: calc(18em/16) !important;
    padding-top: 20px;
}

.whiteText {
    color: white !important;
}

.boldText {
    font-weight: bold;
}

.advPubSection {
    background-color: #f9f9f9;
    padding-bottom: 0px !important;
}

.advertiserSummary {
    background-color: #f9f9f9;
    background-image: url('/static/img/advertiser.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding: 150px 0px 150px 0px !important;
    margin: -1em;
}

.publisherSummary {
    background-color: #f9f9f9;
    background-image: url('/static/img/publisher.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding: 150px 0px 150px 0px !important;
    margin: -1em;
}

.button {
    font-size: calc(18rem/16) !important;
    font-weight: bold !important;
    color: #414042 !important;
    background-color: #fda700 !important;
}

.orangeInput {
    border: 2px solid #fda700 !important;
    border-radius: 6px !important;
}

@media only screen and (max-width: 767px) {
    h1 {
    font-size: calc( 30rem/16 ) !important;       
    }

    p {
        font-size: calc( 18em/16) !important;
    }
}
