.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

.Site-content {
  flex: 1;
}

.DateRangePicker__picker, .SingleDatePicker__picker {
    bottom: 72px !important;
    top: auto !important;
}

.ui.form input[type="file"] {
    display: none;
}

.ui.celled.grid.row.column {
    padding: 0em;
}

